* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5db93;
    width: 100%;
    height: 10vh;
    top: 0;
    max-height: 100px;
    position: sticky;
    display: flex;
    align-items: center; 
    box-shadow: 4px 6px 13px -5px rgba(0, 0, 0, 0.404);
}

header p {
    font-size: 2.4vh;
    margin-left: 3vh;
    margin-top: 1vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: auto; /* Empurra o elemento <p> para a esquerda */
}

header p span {
    font-weight: 900;
}

header button {
    margin: 1vh;
    text-decoration: none;
    background: none;
    border: none;
    color: white;
}

header button:hover {
    color: gray
}

header img {
    margin: 0.5vh;
    width: 9vh;
    height: 9vh;
    max-width: 90px;
    max-height: 90px;
    border-radius: 9vh;
    box-shadow: 6px 5px 20px 3px rgba(0, 0, 0, 0.205);
}


main {
    overflow: scroll;
    overflow-x: hidden;
    background-color: #ececdd;
    width: 100%;
    height: 80vh;
    display:flex;
    flex-direction: column;
}

.teste {
    position:sticky;
    width: 100%;
    height: max-content;
    bottom: 0;
}

content {
    background-color: #f5db93;
    width: 100%;
    height: 10vh;
    top: 0;
    max-height: 100px;
    position: sticky;
    display: flex;
    align-items: center;
    box-shadow: 4px -4px 13px -5px rgba(0,0,0,0.75);
}

content input {
    height: 50%;
    width: 200vh;
    margin: auto;
    margin-left: 0;
    border-radius: 20px;
    border: none;
    text-indent: 20px;
    box-shadow: 4px 6px 13px -5px rgba(0, 0, 0, 0.404);
}

content button {
    padding: 5px;
    border-radius: 100%;
    background: none;
    border: none;
    color: white;
    margin: auto 20px; 
    transform: scale(1.2);
}

content button.send {
    background-color: goldenrod;
}

content button.send:hover {
    background-color: rgb(184, 134, 8);
    transform: scale(1.1);
}

content button#mais:hover {
    background-color: rgb(247, 227, 178);
    transform: scale(1.1);
}

.mensagem {
    background-color: rgb(253, 232, 185);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px 20px 0px 10px;
    align-self: flex-end;
    right: 0;
    max-width: 100vh;
}

.mensagemPato {
    background-color: rgb(253, 232, 185);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px 20px 10px 0px;
    right: 0;
    max-width: 100vh;
}

main img {
    max-width: 50vh;
    max-height: 50vh;
    background-color: rgb(253, 232, 185);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    right: 0;
    max-width: 40%;
}

main img.pato {
    background-color: rgb(253, 232, 185);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 20px 20px 20px 0px;
    right: 0;
    max-width: 40%;
    align-self: flex-start;
}

div.menu{
    position: fixed;
    bottom: 10vh;
    height:fit-content;
    width: 30vh;
    background-color: #b1a78d;
    border-radius: 10px 10px 0 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

div.menu button {
    background: none;
    border: none;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 10px;
}

div.menu button:hover {
    color: rgb(173, 173, 173);
}

.ContainerImagem {
    display: none;
    gap: 2vh;
    margin-top: 5%;
    justify-self: center;
    align-self: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    width: 80%;
    height: 80%;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    margin: 0;
    background-color: #ffffff;
    border-color: #111;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    left: 0;
    max-width: 40vh;
  }

  .ContainerImagem input::file-selector-button {
    color:white;
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
    border: none;
  }

  .ContainerImagem input::file-selector-button:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  div#image {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 40%;
    left: 40%;
  }

dialog{
    display: none;
    margin-top: 4.8%;
    justify-self: center;
    align-self: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 150;
    width: 80%;
    height: 80.1%;
    box-shadow: 6px 5px 20px 3px rgba(0, 0, 0, 0.144);
    background-color: #ffeb9328;
    border: none;
}

dialog::backdrop {
    color: rgb(0 0 0 / .5);
}

dialog h5 {
    color: white;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

dialog img {
    margin: 0.5vh;
    width: 30vh;
    height: 30vh;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50vh;
    box-shadow: 6px 5px 20px 3px rgba(0, 0, 0, 0.205);

}


dialog button:hover {
    transform: scale(1.1);
}

dialog button.end {
    margin: 10px;
    background-color: red;
    color: white;
    width: 10vh;
    height: 10vh;
    border-radius: 10vh;
    max-width: 90px;
    max-height: 90px;
    border: none;
    box-shadow: 0 10px 0 red inset, 0 0 10px 4px rgba(255, 0, 0, 0.267);
}

dialog button.mic {
    margin: 10px;
    background-color: rgb(221, 151, 0);
    color: white;
    width: 10vh;
    height: 10vh;
    border-radius: 10vh;
    max-width: 90px;
    max-height: 90px;
    border: none;
    box-shadow: 0 10px 0 rgb(221, 151, 0) inset, 0 0 10px 4px rgba(221, 151, 0, 0.274);
}

dialog button.after {
    content: "asklda";
}

div.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #f5db93;
    bottom: 0;
    width: 100%;
}

div.header {
    display: flex;
    position: absolute;
    background-color: #f5db93;
    top: 0;
    width: 100%;
}

dialog button.back {
    margin: 10px;
    background: none;
    color: white;
    width: 10vh;
    height: 10vh;
    max-width: 90px;
    max-height: 90px;
    border: none;
    justify-self: flex-start;
    align-self: flex-start;
}

dialog button.more {
    margin: 10px;
    background-color: rgb(218, 188, 125);
    color: white;
    width: 8vh;
    height: 8vh;
    border-radius: 10vh;
    max-width: 90px;
    max-height: 90px;
    border: none;
    box-shadow: 0 10px 0 rgb(172, 149, 101, 0) inset, 0 0 10px 4px rgba(172, 150, 101, 0.377);
    position: absolute;
    right: 0;
}
